*, body {
    margin: 0 auto;
    font-family: 'Arvo', 'serif';
}

.title-container {
    margin: 25px auto;
    text-align: center;
}

.search-container {
    text-align: center;
}

#search-field {
    width: 10%;
}

.content-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

table, th, td {
    border: 1px solid black;
}
