{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width='device-width', initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/baseStyle.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
        
        <title> Search For Books </title>
    </head>

    <body>

        <div class="wrapper">
            <div class="title-container">
                <h1> Search for Books </h1>
            </div>

            <div class="search-container">
                <input type="text" placeholder="Enter Book Name Here" maxlength="100" id="search-field">
                <input type="submit" value="Search" id = 'search-button'>
            </div>

            <div class="content-container">
                <table class = 'table-content'>
                    <thead>
                        <tr>
                            <td> No. </td>
                            <td> Book Cover </td>
                            <td> Title </td>
                            <td> Author </td>
                        </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="{% static 'js/baseScript.js' %}"></script>

    </body>
</html>